#profile.well
  %p#welcome= "Welcome back, #{current_user.first_name}"
  / # = image_tag avatar_url(current_user), id: 'gravitar'
  .clear
  #navigation
    %ul.nav.nav-list
      %li.nav-header Profile
      %li
      = content_tag :li do
        = link_to users_path do
          %i.icon-user
          My Home
      %li
        = link_to logout_path do
          %i.icon-off
          Log Off
.clear