<h1>Listing instructors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Profile picture uid</th>
    <th>Profile picture name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.name %></td>
    <td><%= instructor.bio %></td>
    <td><%= instructor.profile_picture_uid %></td>
    <td><%= instructor.profile_picture_name %></td>
    <td><%= link_to 'Show', instructor %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
    <td><%= link_to 'Destroy', instructor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instructor', new_instructor_path %>
