#banner
  #slider2
    .contentdiv
      %a{:href => "#"}
        = image_tag('banner.jpg')
      .banner_des
        %h4 Want to start your own venture?
        %pf
          Develop entrepreneurship best practice to launch or grow a your own venture
    .contentdiv
      %a{:href => "#"}
        = image_tag('banner2.jpg')
      .banner_des
        %h4 Who are we?
        %p
          New Venture Institute is a global entrepreneurship training organization that exclusively provides education for global best practices for entrepreneurship.
    .contentdiv
      %a{:href => "#"}
        = image_tag('banner3.jpg')
      .banner_des
        %h4 Applying to your financial dream job?
        %p
          New Venture Institute is a global entrepreneurship training organization that exclusively provides education for global best practices for entrepreneurship.
    .contentdiv
      %a{:href => "#"}
        = image_tag('banner4.jpg')
      .banner_des
        %h4 Why we do it
        %p
          New Venture Institute was founded by entrepreneurs to prepare and of students and professionals that are determined to start new or grow existing ventures.
    .contentdiv
      %a{:href => "#"}
        = image_tag('banner5.jpg')
      .banner_des
        %h4 What do we do?
        %p
          We provide independent study programs in addition to online and on-site training to independent learners, employers, employees, and students.
  #paginate-slider2.pagination