.image_scroll
  = link_to '#', class: 'leftarrow' do 
    = image_tag "left_arrow.gif"
  .slider1
    %ul 
      %li
        = image_tag "slider1.gif"
      %li
        = image_tag "slider2.gif"
      %li
        = image_tag "slider3.gif"
      %li
        = image_tag "slider4.gif"
      %li
        = image_tag "slider5.gif"
      %li
        = image_tag "slider6.gif"
  = link_to '#', class: "rightarrow" do 
    = image_tag "right_arrow.gif"
