#bottom_section
  #footer
    .column
      %h5 Find your Way
      %ul
        %li
          = link_to "Home", root_path
        %li
          = link_to "Independent Study", '#'
        %li
          = link_to "Corporate Education", '#'
        %li
          = link_to "University Education", '#'
        %li
          = link_to "About Us", '#'
    - @all_market_sectors.each do |market_sector|
      - cache ["footer_content", market_sector] do
        .column
          %h5= market_sector.name
          %ul
            - if market_sector.has_online?
              %li
                = link_to "Online Courses", market_sector_path(market_sector, anchor: 'online')
            - if market_sector.has_onsite?
              %li
                = link_to "Onsite Courses", market_sector_path(market_sector, anchor: 'onsite')
    #contact_us.column.right
      %h5 Contact Us
      %ul
        %li.telephone_no +1(800) 351-2986
        %li.mailing_address
          Lorem ipsum dolor sit amet
          consectetur adipis.
        %li.email_address
          %a{href: "mailto:michael.herlache@gmail.com"} mike.herlache@gmail.com
        %li.googlemaps
          %a{href: "#"} 3422 Old Capitol Trail - Suite 700 | Wilmington, Delaware 19808-6192 USA
    .clear
/! Bottom section
#copyright_section
  /! page bottm
  #pagebottom
    /! copyright
    .copyright
      © 2012 
      %a{href: "#"}
      New Venture Institute
    /! Social Networks
    .social_networks
      %ul
        %li.services Follow us on
        %li
          %a{href: "http://www.facebook.com/NewVentureInstitute"}
            = image_tag "facebook_icon.gif"
        %li
          %a{href: "http://www.linkedin.com/company/2610010"}
            = image_tag "linkedin_icon.gif"
        %li
          %a{href: "https://twitter.com/#!/NewVentureInsti"}
            = image_tag "twitter_icon.gif"
        %li
          %a{href: "#"}
            = image_tag "rssfeed_icon.gif"
        %li
          %a{href: "#"}
            = image_tag "social_icon.gif"
    .clear
