<h1>Cart</h1>
<table class="table table-striped cart">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.purchasable.title %></td>
        <td><%= number_to_currency(line_item.purchasable.price) %></td>
        <td class="actions"><%= remove_from_cart(line_item) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total:</td>
      <td><%= number_to_currency(@cart.total) %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= link_to "Checkout", cart_finalize_path, class: 'btn btn-primary btn-large' %>