<%= form_for(@online_lesson) do |f| %>
  <% if @online_lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@online_lesson.errors.count, "error") %> prohibited this online_lesson from being saved:</h2>

      <ul>
      <% @online_lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price_in_pennies %><br />
    <%= f.number_field :price_in_pennies %>
  </div>
  <div class="field">
    <%= f.label :video_uid %><br />
    <%= f.text_field :video_uid %>
  </div>
  <div class="field">
    <%= f.label :online_course_id %><br />
    <%= f.number_field :online_course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
