<div class="online-lesson <%= cycle 'odd', 'even', name: "online_course_#{online_lesson.online_course_id}" %>">
  <div class="lesson-header">
    <div class="left">
      <a data-toggle="collapse" href="#lesson_<%= online_lesson.id %>"><p><%= online_lesson.title %></p></a>
    </div>
    <div class="right">
      <p style="float: left; margin-right: 10px;"><small><%= number_to_currency(online_lesson.price) %></small></p>
      <%= add_to_cart(online_lesson) %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="lesson-body collapse" id="lesson_<%= online_lesson.id %>">
    <div class="lesson-inner">
      <%= markdown(online_lesson.description) %>
    </div>
  </div>
</div>
<div class="clear"></div>