<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @market_sector.name %>
</p>

<p>
  <b>Blurb:</b>
  <%= @market_sector.blurb %>
</p>

<p>
  <b>Body:</b>
  <%= @market_sector.body %>
</p>


<%= link_to 'Edit', edit_market_sector_path(@market_sector) %> |
<%= link_to 'Back', market_sectors_path %>
