%html
  %head
    %meta{name: "title", content: "New Venture Prep| Accelerated Instructor-led and online courses in financial training in financial modeling, private equity, accounting and statement analysis with a customized curriculum"}
    %meta{name: "keywords", content: "financial training, investment banking, financial valuation, modeling, accounting, statement analysis, financial engineering, investment banking academy, private equity, new venture prep"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title New Venture Prep
    / Stylesheet
    = stylesheet_link_tag 'application'
    / Javascript
    = javascript_include_tag "https://js.stripe.com/v1/", 'application'
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body
    #bg
      / Wapper Sec
      #wrapper_sec
        / masterhead
        = render('shared/masthead')
        / Content Seciton
        #content_section
          / News Updates
          - cache ["news_update", @news_headline] do
            = render('shared/news_updates')
          .clear
          / Col1
          .col1.span6
            = yield
          / Col2
          .col2.span2
            .ads
              %a{href: "#"}
                = image_tag "ads.gif"
            .clear
            - if current_user
              = render "sidebar/profile"
            - else
              - cache "login" do
                = render "sidebar/login"
            = yield(:sidebar)
            // = render "sidebar/quick_links"
          .clear
          // Pre-footer
          = yield(:pre_footer)
    / Footer Section
    - cache ["footer"] + @market_sectors do
      = render('shared/footer')
  :javascript
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f75c7e4613f5d07c9000017');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();